* {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}
html, body {
    padding: 0;
    margin: 0;
    font-size: 15px !important;
    font-family: 'PT Sans';
    color: #ffffff;
    background: transparent;
}
a, a:active, a:hover, a:visited {
    color: #2E3640;
    text-decoration: none;
}
.cell-wrapper {
    padding: 20px 15px 15px 15px;
}
.cell-wrapper__caption {
    font-size: 15px;
    font-weight: bold;
}
.cell-wrapper__data {
    height: 50px;
}
.cell-wrapper__data__num {
    font-size: 40px;
    line-height: 68px;
    font-family: 'Open Sans', sans-serif;
}
.cell-wrapper__bottom {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.cell-wrapper__bottom.red,
.cell-wrapper__bottom.red a {
    color: #fe6e6e;
}
.cell-wrapper__bottom.green,
.cell-wrapper__bottom.green a {
    color: #41cfc4;
}
.cell-wrapper__bottom:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 14px;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 3px;
}

.cell-wrapper__caption,
.cell-wrapper__data,
.cell-wrapper__bottom {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.cell-wrapper__caption:before,
.cell-wrapper__data:before,
.cell-wrapper__bottom:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    width: 20px;

}

table {
    color: white !important;
}

.caps {
    text-transform: uppercase;
}

table .col {
    text-transform: uppercase;
    opacity: 0.8;
}

